h1{
    font-family: 'Roboto';
            font-weight: bolder;
            font-size: 55px;
            text-align: center;
            margin: 1.5%;
            text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

section {
            display: flex;
            gap: 40px;
        }